.bookmarks-container {
    text-align: center; /* Center the Bookmarks heading */
  }
  
  .save-button {
    float: right; /* Align the save button to the right */
    width: auto; /* Remove fixed width */
    padding: 5px 10px; /* Adjust padding as needed */
  }
  

  /* .card-text{
    color: black !important;
    text-decoration: none !important;
    .card-title {
      display: flex;
      justify-content: center;
      font-weight: 600;
      font-size: 30px;
    }
    span {
      font-size: 20px;
      margin-left: 23px;
    }
    span a{
      cursor: pointer;
    }
    .card-textTime {
      color: gray;
      font-size: 15px;
      margin-left: 23px;
    }
  } */


  .card-text {
    color: black !important;
    text-decoration: none !important;
  }
  
  .card-title {
    /* display: flex;
    justify-content: center; */
    margin-left: 23px;
    font-weight: 600;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card-description {
    font-size: 20px;
    margin-left: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  
  
  .card-text span {
    font-size: 20px;
    margin-left: 23px;
  }
  
  .card-text span a {
    cursor: pointer;
  }
  
  .card-textTime {
    color: gray;
    font-size: 15px;
    margin-left: 23px;
  }
  